@import "tailwindcss";
@config "../tailwind.config.js";

@font-face {
  font-family: 'AutumnBright';
  src: url('/fonts/AutumnBright.otf') format('opentype');
}

@font-face {
  font-family: 'PPEditorialNew';
  src: url('/fonts/PPEditorialNew.otf') format('opentype');
}

@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist.ttf') format('truetype');
}

body {
  @apply font-urbanist bg-background text-primary-color overflow-x-hidden overflow-y-auto;
}

@layer components {
  .main-button {
    @apply bg-button-main text-secondary-color font-semibold font-urbanist px-5 py-2.5 md:px-8 md:py-3 rounded-full transition-colors min-w-[100px] md:min-w-[80px] text-sm md:text-base flex items-center justify-center;
  }
  .Navbar{
    @apply flex items-center justify-between px-6 py-4;
  }
  .back-button{
    @apply bg-secondary-color text-primary-color font-semibold font-urbanist px-5 py-2.5 md:px-8 md:py-3 rounded-full transition-colors min-w-[100px] md:min-w-[220px] text-sm md:text-base flex items-center justify-center;
  }
  .menu-items{
    @apply flex flex-col gap-4;
  }
}